/* Conteneur principal du panier */
.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
    
}

/* Un élément du panier */
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid black;
}

/* Image du produit */
.cart-item-image img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

/* Détails du produit */
.cart-item-details {
    flex-grow: 1;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.cart-item-details-btn {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cart-item-details-p {
    display: flex;
    justify-content: space-between;
}

/* Conteneur du total et des boutons */
.cart-summary {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

/* Total */
.cart-total {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cart-total p {
    font-weight: bold;
    border: 1px solid black;
    padding: 12px 20px;
}

/* Boutons */
.cart-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.cart-buttons .btn {
    padding: 10px 15px;
    border-radius: 8px;
}

.btn-retirer {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    color: black;
}

.btn-danger {
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: #f08080;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}

.btn-success {
    text-transform: uppercase;
    background-color: #4caf50;
    border: none;
    text-decoration: none;
    color: black;
}
