// Mixins
@mixin box($max-width, $padding, $border: none) {
    max-width: $max-width;
    padding: $padding;
    border: $border;
    margin: 0 auto;
}

@mixin button-style($bg-color, $text-color, $padding, $font-size) {
    padding: $padding;
    font-size: $font-size;
    background-color: $bg-color;
    color: $text-color;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

// Formulaire d'inscription
.register-form {
    @include box(275px, 20px, 1px solid black);
    margin: 50px auto;
}

h2 {
    margin-bottom: 20px;
}

// Groupes de champs
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

// Champ de saisie
.form-control {
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
    width: 80%;
}

// Bouton
.btn {
    @include button-style(#89CFF0, white, 10px 15px, large);
}

.register {
    color: white;
}

a {
    margin-top: 20px;
    text-decoration: none;
}

.signin {
    margin-top: 50px;
}

p {
    margin-top: 15px;
}

// Media Queries (version mobile)
@media (max-width: 768px) {
    .register-form {
        max-width: 90%;
        padding: 15px;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

